<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b_a.liga</key>
    <string>b_a.liga.glif</string>
    <key>b_e.liga</key>
    <string>b_e.liga.glif</string>
    <key>b_eacute.liga</key>
    <string>b_eacute.liga.glif</string>
    <key>b_i.liga</key>
    <string>b_i.liga.glif</string>
    <key>b_iacute.liga</key>
    <string>b_iacute.liga.glif</string>
    <key>b_o.liga</key>
    <string>b_o.liga.glif</string>
    <key>b_oacute.liga</key>
    <string>b_oacute.liga.glif</string>
    <key>b_u.liga</key>
    <string>b_u.liga.glif</string>
    <key>b_uacute.liga</key>
    <string>b_uacute.liga.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_a.liga</key>
    <string>c_a.liga.glif</string>
    <key>c_e.liga</key>
    <string>c_e.liga.glif</string>
    <key>c_eacute.liga</key>
    <string>c_eacute.liga.glif</string>
    <key>c_i.liga</key>
    <string>c_i.liga.glif</string>
    <key>c_iacute.liga</key>
    <string>c_iacute.liga.glif</string>
    <key>c_o.liga</key>
    <string>c_o.liga.glif</string>
    <key>c_oacute.liga</key>
    <string>c_oacute.liga.glif</string>
    <key>c_u.liga</key>
    <string>c_u.liga.glif</string>
    <key>c_uacute.liga</key>
    <string>c_uacute.liga.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_a.liga</key>
    <string>d_a.liga.glif</string>
    <key>d_e.liga</key>
    <string>d_e.liga.glif</string>
    <key>d_eacute.liga</key>
    <string>d_eacute.liga.glif</string>
    <key>d_i.liga</key>
    <string>d_i.liga.glif</string>
    <key>d_iacute.liga</key>
    <string>d_iacute.liga.glif</string>
    <key>d_o.liga</key>
    <string>d_o.liga.glif</string>
    <key>d_oacute.liga</key>
    <string>d_oacute.liga.glif</string>
    <key>d_u.liga</key>
    <string>d_u.liga.glif</string>
    <key>d_uacute.liga</key>
    <string>d_uacute.liga.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eng_a.liga</key>
    <string>eng_a.liga.glif</string>
    <key>eng_e.liga</key>
    <string>eng_e.liga.glif</string>
    <key>eng_eacute.liga</key>
    <string>eng_eacute.liga.glif</string>
    <key>eng_i.liga</key>
    <string>eng_i.liga.glif</string>
    <key>eng_iacute.liga</key>
    <string>eng_iacute.liga.glif</string>
    <key>eng_o.liga</key>
    <string>eng_o.liga.glif</string>
    <key>eng_oacute.liga</key>
    <string>eng_oacute.liga.glif</string>
    <key>eng_u.liga</key>
    <string>eng_u.liga.glif</string>
    <key>eng_uacute.liga</key>
    <string>eng_uacute.liga.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eth_a.liga</key>
    <string>eth_a.liga.glif</string>
    <key>eth_e.liga</key>
    <string>eth_e.liga.glif</string>
    <key>eth_eacute.liga</key>
    <string>eth_eacute.liga.glif</string>
    <key>eth_i.liga</key>
    <string>eth_i.liga.glif</string>
    <key>eth_iacute.liga</key>
    <string>eth_iacute.liga.glif</string>
    <key>eth_o.liga</key>
    <string>eth_o.liga.glif</string>
    <key>eth_oacute.liga</key>
    <string>eth_oacute.liga.glif</string>
    <key>eth_u.liga</key>
    <string>eth_u.liga.glif</string>
    <key>eth_uacute.liga</key>
    <string>eth_uacute.liga.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_a.liga</key>
    <string>f_a.liga.glif</string>
    <key>f_e.liga</key>
    <string>f_e.liga.glif</string>
    <key>f_eacute.liga</key>
    <string>f_eacute.liga.glif</string>
    <key>f_i.liga</key>
    <string>f_i.liga.glif</string>
    <key>f_iacute.liga</key>
    <string>f_iacute.liga.glif</string>
    <key>f_o.liga</key>
    <string>f_o.liga.glif</string>
    <key>f_oacute.liga</key>
    <string>f_oacute.liga.glif</string>
    <key>f_u.liga</key>
    <string>f_u.liga.glif</string>
    <key>f_uacute.liga</key>
    <string>f_uacute.liga.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_a.liga</key>
    <string>g_a.liga.glif</string>
    <key>g_e.liga</key>
    <string>g_e.liga.glif</string>
    <key>g_eacute.liga</key>
    <string>g_eacute.liga.glif</string>
    <key>g_i.liga</key>
    <string>g_i.liga.glif</string>
    <key>g_iacute.liga</key>
    <string>g_iacute.liga.glif</string>
    <key>g_o.liga</key>
    <string>g_o.liga.glif</string>
    <key>g_oacute.liga</key>
    <string>g_oacute.liga.glif</string>
    <key>g_u.liga</key>
    <string>g_u.liga.glif</string>
    <key>g_uacute.liga</key>
    <string>g_uacute.liga.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h_a.liga</key>
    <string>h_a.liga.glif</string>
    <key>h_e.liga</key>
    <string>h_e.liga.glif</string>
    <key>h_eacute.liga</key>
    <string>h_eacute.liga.glif</string>
    <key>h_i.liga</key>
    <string>h_i.liga.glif</string>
    <key>h_iacute.liga</key>
    <string>h_iacute.liga.glif</string>
    <key>h_o.liga</key>
    <string>h_o.liga.glif</string>
    <key>h_oacute.liga</key>
    <string>h_oacute.liga.glif</string>
    <key>h_u.liga</key>
    <string>h_u.liga.glif</string>
    <key>h_uacute.liga</key>
    <string>h_uacute.liga.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j_a.liga</key>
    <string>j_a.liga.glif</string>
    <key>j_e.liga</key>
    <string>j_e.liga.glif</string>
    <key>j_eacute.liga</key>
    <string>j_eacute.liga.glif</string>
    <key>j_i.liga</key>
    <string>j_i.liga.glif</string>
    <key>j_iacute.liga</key>
    <string>j_iacute.liga.glif</string>
    <key>j_o.liga</key>
    <string>j_o.liga.glif</string>
    <key>j_oacute.liga</key>
    <string>j_oacute.liga.glif</string>
    <key>j_u.liga</key>
    <string>j_u.liga.glif</string>
    <key>j_uacute.liga</key>
    <string>j_uacute.liga.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k_a.liga</key>
    <string>k_a.liga.glif</string>
    <key>k_e.liga</key>
    <string>k_e.liga.glif</string>
    <key>k_eacute.liga</key>
    <string>k_eacute.liga.glif</string>
    <key>k_i.liga</key>
    <string>k_i.liga.glif</string>
    <key>k_iacute.liga</key>
    <string>k_iacute.liga.glif</string>
    <key>k_o.liga</key>
    <string>k_o.liga.glif</string>
    <key>k_oacute.liga</key>
    <string>k_oacute.liga.glif</string>
    <key>k_u.liga</key>
    <string>k_u.liga.glif</string>
    <key>k_uacute.liga</key>
    <string>k_uacute.liga.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_a.liga</key>
    <string>l_a.liga.glif</string>
    <key>l_e.liga</key>
    <string>l_e.liga.glif</string>
    <key>l_eacute.liga</key>
    <string>l_eacute.liga.glif</string>
    <key>l_i.liga</key>
    <string>l_i.liga.glif</string>
    <key>l_iacute.liga</key>
    <string>l_iacute.liga.glif</string>
    <key>l_o.liga</key>
    <string>l_o.liga.glif</string>
    <key>l_oacute.liga</key>
    <string>l_oacute.liga.glif</string>
    <key>l_u.liga</key>
    <string>l_u.liga.glif</string>
    <key>l_uacute.liga</key>
    <string>l_uacute.liga.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_a.liga</key>
    <string>m_a.liga.glif</string>
    <key>m_e.liga</key>
    <string>m_e.liga.glif</string>
    <key>m_eacute.liga</key>
    <string>m_eacute.liga.glif</string>
    <key>m_i.liga</key>
    <string>m_i.liga.glif</string>
    <key>m_iacute.liga</key>
    <string>m_iacute.liga.glif</string>
    <key>m_o.liga</key>
    <string>m_o.liga.glif</string>
    <key>m_oacute.liga</key>
    <string>m_oacute.liga.glif</string>
    <key>m_u.liga</key>
    <string>m_u.liga.glif</string>
    <key>m_uacute.liga</key>
    <string>m_uacute.liga.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_a.liga</key>
    <string>n_a.liga.glif</string>
    <key>n_e.liga</key>
    <string>n_e.liga.glif</string>
    <key>n_eacute.liga</key>
    <string>n_eacute.liga.glif</string>
    <key>n_i.liga</key>
    <string>n_i.liga.glif</string>
    <key>n_iacute.liga</key>
    <string>n_iacute.liga.glif</string>
    <key>n_o.liga</key>
    <string>n_o.liga.glif</string>
    <key>n_oacute.liga</key>
    <string>n_oacute.liga.glif</string>
    <key>n_u.liga</key>
    <string>n_u.liga.glif</string>
    <key>n_uacute.liga</key>
    <string>n_uacute.liga.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_a.liga</key>
    <string>p_a.liga.glif</string>
    <key>p_e.liga</key>
    <string>p_e.liga.glif</string>
    <key>p_eacute.liga</key>
    <string>p_eacute.liga.glif</string>
    <key>p_i.liga</key>
    <string>p_i.liga.glif</string>
    <key>p_iacute.liga</key>
    <string>p_iacute.liga.glif</string>
    <key>p_o.liga</key>
    <string>p_o.liga.glif</string>
    <key>p_oacute.liga</key>
    <string>p_oacute.liga.glif</string>
    <key>p_u.liga</key>
    <string>p_u.liga.glif</string>
    <key>p_uacute.liga</key>
    <string>p_uacute.liga.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_a.liga</key>
    <string>r_a.liga.glif</string>
    <key>r_e.liga</key>
    <string>r_e.liga.glif</string>
    <key>r_eacute.liga</key>
    <string>r_eacute.liga.glif</string>
    <key>r_i.liga</key>
    <string>r_i.liga.glif</string>
    <key>r_iacute.liga</key>
    <string>r_iacute.liga.glif</string>
    <key>r_o.liga</key>
    <string>r_o.liga.glif</string>
    <key>r_oacute.liga</key>
    <string>r_oacute.liga.glif</string>
    <key>r_u.liga</key>
    <string>r_u.liga.glif</string>
    <key>r_uacute.liga</key>
    <string>r_uacute.liga.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_a.liga</key>
    <string>s_a.liga.glif</string>
    <key>s_e.liga</key>
    <string>s_e.liga.glif</string>
    <key>s_eacute.liga</key>
    <string>s_eacute.liga.glif</string>
    <key>s_i.liga</key>
    <string>s_i.liga.glif</string>
    <key>s_iacute.liga</key>
    <string>s_iacute.liga.glif</string>
    <key>s_o.liga</key>
    <string>s_o.liga.glif</string>
    <key>s_oacute.liga</key>
    <string>s_oacute.liga.glif</string>
    <key>s_u.liga</key>
    <string>s_u.liga.glif</string>
    <key>s_uacute.liga</key>
    <string>s_uacute.liga.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>sacute_a.liga</key>
    <string>sacute_a.liga.glif</string>
    <key>sacute_e.liga</key>
    <string>sacute_e.liga.glif</string>
    <key>sacute_eacute.liga</key>
    <string>sacute_eacute.liga.glif</string>
    <key>sacute_i.liga</key>
    <string>sacute_i.liga.glif</string>
    <key>sacute_iacute.liga</key>
    <string>sacute_iacute.liga.glif</string>
    <key>sacute_o.liga</key>
    <string>sacute_o.liga.glif</string>
    <key>sacute_oacute.liga</key>
    <string>sacute_oacute.liga.glif</string>
    <key>sacute_u.liga</key>
    <string>sacute_u.liga.glif</string>
    <key>sacute_uacute.liga</key>
    <string>sacute_uacute.liga.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_a.liga</key>
    <string>t_a.liga.glif</string>
    <key>t_e.liga</key>
    <string>t_e.liga.glif</string>
    <key>t_eacute.liga</key>
    <string>t_eacute.liga.glif</string>
    <key>t_i.liga</key>
    <string>t_i.liga.glif</string>
    <key>t_iacute.liga</key>
    <string>t_iacute.liga.glif</string>
    <key>t_o.liga</key>
    <string>t_o.liga.glif</string>
    <key>t_oacute.liga</key>
    <string>t_oacute.liga.glif</string>
    <key>t_u.liga</key>
    <string>t_u.liga.glif</string>
    <key>t_uacute.liga</key>
    <string>t_uacute.liga.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn_a.liga</key>
    <string>thorn_a.liga.glif</string>
    <key>thorn_e.liga</key>
    <string>thorn_e.liga.glif</string>
    <key>thorn_eacute.liga</key>
    <string>thorn_eacute.liga.glif</string>
    <key>thorn_i.liga</key>
    <string>thorn_i.liga.glif</string>
    <key>thorn_iacute.liga</key>
    <string>thorn_iacute.liga.glif</string>
    <key>thorn_o.liga</key>
    <string>thorn_o.liga.glif</string>
    <key>thorn_oacute.liga</key>
    <string>thorn_oacute.liga.glif</string>
    <key>thorn_u.liga</key>
    <string>thorn_u.liga.glif</string>
    <key>thorn_uacute.liga</key>
    <string>thorn_uacute.liga.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v_a.liga</key>
    <string>v_a.liga.glif</string>
    <key>v_e.liga</key>
    <string>v_e.liga.glif</string>
    <key>v_eacute.liga</key>
    <string>v_eacute.liga.glif</string>
    <key>v_i.liga</key>
    <string>v_i.liga.glif</string>
    <key>v_iacute.liga</key>
    <string>v_iacute.liga.glif</string>
    <key>v_o.liga</key>
    <string>v_o.liga.glif</string>
    <key>v_oacute.liga</key>
    <string>v_oacute.liga.glif</string>
    <key>v_u.liga</key>
    <string>v_u.liga.glif</string>
    <key>v_uacute.liga</key>
    <string>v_uacute.liga.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_a.liga</key>
    <string>w_a.liga.glif</string>
    <key>w_e.liga</key>
    <string>w_e.liga.glif</string>
    <key>w_eacute.liga</key>
    <string>w_eacute.liga.glif</string>
    <key>w_i.liga</key>
    <string>w_i.liga.glif</string>
    <key>w_iacute.liga</key>
    <string>w_iacute.liga.glif</string>
    <key>w_o.liga</key>
    <string>w_o.liga.glif</string>
    <key>w_oacute.liga</key>
    <string>w_oacute.liga.glif</string>
    <key>w_u.liga</key>
    <string>w_u.liga.glif</string>
    <key>w_uacute.liga</key>
    <string>w_uacute.liga.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_a.liga</key>
    <string>x_a.liga.glif</string>
    <key>x_e.liga</key>
    <string>x_e.liga.glif</string>
    <key>x_eacute.liga</key>
    <string>x_eacute.liga.glif</string>
    <key>x_i.liga</key>
    <string>x_i.liga.glif</string>
    <key>x_iacute.liga</key>
    <string>x_iacute.liga.glif</string>
    <key>x_o.liga</key>
    <string>x_o.liga.glif</string>
    <key>x_oacute.liga</key>
    <string>x_oacute.liga.glif</string>
    <key>x_u.liga</key>
    <string>x_u.liga.glif</string>
    <key>x_uacute.liga</key>
    <string>x_uacute.liga.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_a.liga</key>
    <string>y_a.liga.glif</string>
    <key>y_e.liga</key>
    <string>y_e.liga.glif</string>
    <key>y_eacute.liga</key>
    <string>y_eacute.liga.glif</string>
    <key>y_i.liga</key>
    <string>y_i.liga.glif</string>
    <key>y_iacute.liga</key>
    <string>y_iacute.liga.glif</string>
    <key>y_o.liga</key>
    <string>y_o.liga.glif</string>
    <key>y_oacute.liga</key>
    <string>y_oacute.liga.glif</string>
    <key>y_u.liga</key>
    <string>y_u.liga.glif</string>
    <key>y_uacute.liga</key>
    <string>y_uacute.liga.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z_a.liga</key>
    <string>z_a.liga.glif</string>
    <key>z_e.liga</key>
    <string>z_e.liga.glif</string>
    <key>z_eacute.liga</key>
    <string>z_eacute.liga.glif</string>
    <key>z_i.liga</key>
    <string>z_i.liga.glif</string>
    <key>z_iacute.liga</key>
    <string>z_iacute.liga.glif</string>
    <key>z_o.liga</key>
    <string>z_o.liga.glif</string>
    <key>z_oacute.liga</key>
    <string>z_oacute.liga.glif</string>
    <key>z_u.liga</key>
    <string>z_u.liga.glif</string>
    <key>z_uacute.liga</key>
    <string>z_uacute.liga.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zacute_a.liga</key>
    <string>zacute_a.liga.glif</string>
    <key>zacute_e.liga</key>
    <string>zacute_e.liga.glif</string>
    <key>zacute_eacute.liga</key>
    <string>zacute_eacute.liga.glif</string>
    <key>zacute_i.liga</key>
    <string>zacute_i.liga.glif</string>
    <key>zacute_iacute.liga</key>
    <string>zacute_iacute.liga.glif</string>
    <key>zacute_o.liga</key>
    <string>zacute_o.liga.glif</string>
    <key>zacute_oacute.liga</key>
    <string>zacute_oacute.liga.glif</string>
    <key>zacute_u.liga</key>
    <string>zacute_u.liga.glif</string>
    <key>zacute_uacute.liga</key>
    <string>zacute_uacute.liga.glif</string>
  </dict>
</plist>
