<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b_a.liga</key>
    <string>b_a.liga.glif</string>
    <key>b_e.liga</key>
    <string>b_e.liga.glif</string>
    <key>b_i.liga</key>
    <string>b_i.liga.glif</string>
    <key>b_o.liga</key>
    <string>b_o.liga.glif</string>
    <key>b_u.liga</key>
    <string>b_u.liga.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_a.liga</key>
    <string>c_a.liga.glif</string>
    <key>c_e.liga</key>
    <string>c_e.liga.glif</string>
    <key>c_i.liga</key>
    <string>c_i.liga.glif</string>
    <key>c_o.liga</key>
    <string>c_o.liga.glif</string>
    <key>c_u.liga</key>
    <string>c_u.liga.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_a.liga</key>
    <string>d_a.liga.glif</string>
    <key>d_e.liga</key>
    <string>d_e.liga.glif</string>
    <key>d_i.liga</key>
    <string>d_i.liga.glif</string>
    <key>d_o.liga</key>
    <string>d_o.liga.glif</string>
    <key>d_u.liga</key>
    <string>d_u.liga.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_a.liga</key>
    <string>f_a.liga.glif</string>
    <key>f_e.liga</key>
    <string>f_e.liga.glif</string>
    <key>f_i.liga</key>
    <string>f_i.liga.glif</string>
    <key>f_o.liga</key>
    <string>f_o.liga.glif</string>
    <key>f_u.liga</key>
    <string>f_u.liga.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_a.liga</key>
    <string>g_a.liga.glif</string>
    <key>g_e.liga</key>
    <string>g_e.liga.glif</string>
    <key>g_i.liga</key>
    <string>g_i.liga.glif</string>
    <key>g_o.liga</key>
    <string>g_o.liga.glif</string>
    <key>g_u.liga</key>
    <string>g_u.liga.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h_a.liga</key>
    <string>h_a.liga.glif</string>
    <key>h_e.liga</key>
    <string>h_e.liga.glif</string>
    <key>h_i.liga</key>
    <string>h_i.liga.glif</string>
    <key>h_o.liga</key>
    <string>h_o.liga.glif</string>
    <key>h_u.liga</key>
    <string>h_u.liga.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j_a.liga</key>
    <string>j_a.liga.glif</string>
    <key>j_e.liga</key>
    <string>j_e.liga.glif</string>
    <key>j_i.liga</key>
    <string>j_i.liga.glif</string>
    <key>j_o.liga</key>
    <string>j_o.liga.glif</string>
    <key>j_u.liga</key>
    <string>j_u.liga.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k_a.liga</key>
    <string>k_a.liga.glif</string>
    <key>k_e.liga</key>
    <string>k_e.liga.glif</string>
    <key>k_i.liga</key>
    <string>k_i.liga.glif</string>
    <key>k_o.liga</key>
    <string>k_o.liga.glif</string>
    <key>k_u.liga</key>
    <string>k_u.liga.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_a.liga</key>
    <string>l_a.liga.glif</string>
    <key>l_e.liga</key>
    <string>l_e.liga.glif</string>
    <key>l_i.liga</key>
    <string>l_i.liga.glif</string>
    <key>l_o.liga</key>
    <string>l_o.liga.glif</string>
    <key>l_u.liga</key>
    <string>l_u.liga.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_a.liga</key>
    <string>m_a.liga.glif</string>
    <key>m_e.liga</key>
    <string>m_e.liga.glif</string>
    <key>m_i.liga</key>
    <string>m_i.liga.glif</string>
    <key>m_o.liga</key>
    <string>m_o.liga.glif</string>
    <key>m_u.liga</key>
    <string>m_u.liga.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_a.liga</key>
    <string>n_a.liga.glif</string>
    <key>n_e.liga</key>
    <string>n_e.liga.glif</string>
    <key>n_i.liga</key>
    <string>n_i.liga.glif</string>
    <key>n_o.liga</key>
    <string>n_o.liga.glif</string>
    <key>n_u.liga</key>
    <string>n_u.liga.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_a.liga</key>
    <string>p_a.liga.glif</string>
    <key>p_e.liga</key>
    <string>p_e.liga.glif</string>
    <key>p_i.liga</key>
    <string>p_i.liga.glif</string>
    <key>p_o.liga</key>
    <string>p_o.liga.glif</string>
    <key>p_u.liga</key>
    <string>p_u.liga.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_a.liga</key>
    <string>r_a.liga.glif</string>
    <key>r_e.liga</key>
    <string>r_e.liga.glif</string>
    <key>r_i.liga</key>
    <string>r_i.liga.glif</string>
    <key>r_o.liga</key>
    <string>r_o.liga.glif</string>
    <key>r_u.liga</key>
    <string>r_u.liga.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_a.liga</key>
    <string>s_a.liga.glif</string>
    <key>s_e.liga</key>
    <string>s_e.liga.glif</string>
    <key>s_i.liga</key>
    <string>s_i.liga.glif</string>
    <key>s_o.liga</key>
    <string>s_o.liga.glif</string>
    <key>s_u.liga</key>
    <string>s_u.liga.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_a.liga</key>
    <string>t_a.liga.glif</string>
    <key>t_e.liga</key>
    <string>t_e.liga.glif</string>
    <key>t_i.liga</key>
    <string>t_i.liga.glif</string>
    <key>t_o.liga</key>
    <string>t_o.liga.glif</string>
    <key>t_u.liga</key>
    <string>t_u.liga.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v_a.liga</key>
    <string>v_a.liga.glif</string>
    <key>v_e.liga</key>
    <string>v_e.liga.glif</string>
    <key>v_i.liga</key>
    <string>v_i.liga.glif</string>
    <key>v_o.liga</key>
    <string>v_o.liga.glif</string>
    <key>v_u.liga</key>
    <string>v_u.liga.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_a.liga</key>
    <string>w_a.liga.glif</string>
    <key>w_e.liga</key>
    <string>w_e.liga.glif</string>
    <key>w_i.liga</key>
    <string>w_i.liga.glif</string>
    <key>w_o.liga</key>
    <string>w_o.liga.glif</string>
    <key>w_u.liga</key>
    <string>w_u.liga.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_a.liga</key>
    <string>x_a.liga.glif</string>
    <key>x_e.liga</key>
    <string>x_e.liga.glif</string>
    <key>x_i.liga</key>
    <string>x_i.liga.glif</string>
    <key>x_o.liga</key>
    <string>x_o.liga.glif</string>
    <key>x_u.liga</key>
    <string>x_u.liga.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_a.liga</key>
    <string>y_a.liga.glif</string>
    <key>y_e.liga</key>
    <string>y_e.liga.glif</string>
    <key>y_i.liga</key>
    <string>y_i.liga.glif</string>
    <key>y_o.liga</key>
    <string>y_o.liga.glif</string>
    <key>y_u.liga</key>
    <string>y_u.liga.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z_a.liga</key>
    <string>z_a.liga.glif</string>
    <key>z_e.liga</key>
    <string>z_e.liga.glif</string>
    <key>z_i.liga</key>
    <string>z_i.liga.glif</string>
    <key>z_o.liga</key>
    <string>z_o.liga.glif</string>
    <key>z_u.liga</key>
    <string>z_u.liga.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
  </dict>
</plist>
