<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>a</string>
      <string>e</string>
      <string>eacute</string>
      <string>i</string>
      <string>iacute</string>
      <string>o</string>
      <string>oacute</string>
      <string>u</string>
      <string>uacute</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>eth</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>eng</string>
      <string>p</string>
      <string>r</string>
      <string>s</string>
      <string>sacute</string>
      <string>t</string>
      <string>thorn</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zacute</string>
      <string>space</string>
      <string>fullStop</string>
      <string>comma</string>
      <string>question</string>
      <string>ellipsis</string>
      <string>hyphen</string>
      <string>b_a.liga</string>
      <string>b_e.liga</string>
      <string>b_eacute.liga</string>
      <string>b_i.liga</string>
      <string>b_iacute.liga</string>
      <string>b_o.liga</string>
      <string>b_oacute.liga</string>
      <string>b_u.liga</string>
      <string>b_uacute.liga</string>
      <string>c_a.liga</string>
      <string>c_e.liga</string>
      <string>c_eacute.liga</string>
      <string>c_i.liga</string>
      <string>c_iacute.liga</string>
      <string>c_o.liga</string>
      <string>c_oacute.liga</string>
      <string>c_u.liga</string>
      <string>c_uacute.liga</string>
      <string>d_a.liga</string>
      <string>d_e.liga</string>
      <string>d_eacute.liga</string>
      <string>d_i.liga</string>
      <string>d_iacute.liga</string>
      <string>d_o.liga</string>
      <string>d_oacute.liga</string>
      <string>d_u.liga</string>
      <string>d_uacute.liga</string>
      <string>eth_a.liga</string>
      <string>eth_e.liga</string>
      <string>eth_eacute.liga</string>
      <string>eth_i.liga</string>
      <string>eth_iacute.liga</string>
      <string>eth_o.liga</string>
      <string>eth_oacute.liga</string>
      <string>eth_u.liga</string>
      <string>eth_uacute.liga</string>
      <string>f_a.liga</string>
      <string>f_e.liga</string>
      <string>f_eacute.liga</string>
      <string>f_i.liga</string>
      <string>f_iacute.liga</string>
      <string>f_o.liga</string>
      <string>f_oacute.liga</string>
      <string>f_u.liga</string>
      <string>f_uacute.liga</string>
      <string>g_a.liga</string>
      <string>g_e.liga</string>
      <string>g_eacute.liga</string>
      <string>g_i.liga</string>
      <string>g_iacute.liga</string>
      <string>g_o.liga</string>
      <string>g_oacute.liga</string>
      <string>g_u.liga</string>
      <string>g_uacute.liga</string>
      <string>h_a.liga</string>
      <string>h_e.liga</string>
      <string>h_eacute.liga</string>
      <string>h_i.liga</string>
      <string>h_iacute.liga</string>
      <string>h_o.liga</string>
      <string>h_oacute.liga</string>
      <string>h_u.liga</string>
      <string>h_uacute.liga</string>
      <string>j_a.liga</string>
      <string>j_e.liga</string>
      <string>j_eacute.liga</string>
      <string>j_i.liga</string>
      <string>j_iacute.liga</string>
      <string>j_o.liga</string>
      <string>j_oacute.liga</string>
      <string>j_u.liga</string>
      <string>j_uacute.liga</string>
      <string>k_a.liga</string>
      <string>k_e.liga</string>
      <string>k_eacute.liga</string>
      <string>k_i.liga</string>
      <string>k_iacute.liga</string>
      <string>k_o.liga</string>
      <string>k_oacute.liga</string>
      <string>k_u.liga</string>
      <string>k_uacute.liga</string>
      <string>l_a.liga</string>
      <string>l_e.liga</string>
      <string>l_eacute.liga</string>
      <string>l_i.liga</string>
      <string>l_iacute.liga</string>
      <string>l_o.liga</string>
      <string>l_oacute.liga</string>
      <string>l_u.liga</string>
      <string>l_uacute.liga</string>
      <string>m_a.liga</string>
      <string>m_e.liga</string>
      <string>m_eacute.liga</string>
      <string>m_i.liga</string>
      <string>m_iacute.liga</string>
      <string>m_o.liga</string>
      <string>m_oacute.liga</string>
      <string>m_u.liga</string>
      <string>m_uacute.liga</string>
      <string>n_a.liga</string>
      <string>n_e.liga</string>
      <string>n_eacute.liga</string>
      <string>n_i.liga</string>
      <string>n_iacute.liga</string>
      <string>n_o.liga</string>
      <string>n_oacute.liga</string>
      <string>n_u.liga</string>
      <string>n_uacute.liga</string>
      <string>eng_a.liga</string>
      <string>eng_e.liga</string>
      <string>eng_eacute.liga</string>
      <string>eng_i.liga</string>
      <string>eng_iacute.liga</string>
      <string>eng_o.liga</string>
      <string>eng_oacute.liga</string>
      <string>eng_u.liga</string>
      <string>eng_uacute.liga</string>
      <string>p_a.liga</string>
      <string>p_e.liga</string>
      <string>p_eacute.liga</string>
      <string>p_i.liga</string>
      <string>p_iacute.liga</string>
      <string>p_o.liga</string>
      <string>p_oacute.liga</string>
      <string>p_u.liga</string>
      <string>p_uacute.liga</string>
      <string>r_a.liga</string>
      <string>r_e.liga</string>
      <string>r_eacute.liga</string>
      <string>r_i.liga</string>
      <string>r_iacute.liga</string>
      <string>r_o.liga</string>
      <string>r_oacute.liga</string>
      <string>r_u.liga</string>
      <string>r_uacute.liga</string>
      <string>s_a.liga</string>
      <string>s_e.liga</string>
      <string>s_eacute.liga</string>
      <string>s_i.liga</string>
      <string>s_iacute.liga</string>
      <string>s_o.liga</string>
      <string>s_oacute.liga</string>
      <string>s_u.liga</string>
      <string>s_uacute.liga</string>
      <string>sacute_a.liga</string>
      <string>sacute_e.liga</string>
      <string>sacute_eacute.liga</string>
      <string>sacute_i.liga</string>
      <string>sacute_iacute.liga</string>
      <string>sacute_o.liga</string>
      <string>sacute_oacute.liga</string>
      <string>sacute_u.liga</string>
      <string>sacute_uacute.liga</string>
      <string>t_a.liga</string>
      <string>t_e.liga</string>
      <string>t_eacute.liga</string>
      <string>t_i.liga</string>
      <string>t_iacute.liga</string>
      <string>t_o.liga</string>
      <string>t_oacute.liga</string>
      <string>t_u.liga</string>
      <string>t_uacute.liga</string>
      <string>v_a.liga</string>
      <string>v_e.liga</string>
      <string>v_eacute.liga</string>
      <string>v_i.liga</string>
      <string>v_iacute.liga</string>
      <string>v_o.liga</string>
      <string>v_oacute.liga</string>
      <string>v_u.liga</string>
      <string>v_uacute.liga</string>
      <string>w_a.liga</string>
      <string>w_e.liga</string>
      <string>w_eacute.liga</string>
      <string>w_i.liga</string>
      <string>w_iacute.liga</string>
      <string>w_o.liga</string>
      <string>w_oacute.liga</string>
      <string>w_u.liga</string>
      <string>w_uacute.liga</string>
      <string>x_a.liga</string>
      <string>x_e.liga</string>
      <string>x_eacute.liga</string>
      <string>x_i.liga</string>
      <string>x_iacute.liga</string>
      <string>x_o.liga</string>
      <string>x_oacute.liga</string>
      <string>x_u.liga</string>
      <string>x_uacute.liga</string>
      <string>y_a.liga</string>
      <string>y_e.liga</string>
      <string>y_eacute.liga</string>
      <string>y_i.liga</string>
      <string>y_iacute.liga</string>
      <string>y_o.liga</string>
      <string>y_oacute.liga</string>
      <string>y_u.liga</string>
      <string>y_uacute.liga</string>
      <string>z_a.liga</string>
      <string>z_e.liga</string>
      <string>z_eacute.liga</string>
      <string>z_i.liga</string>
      <string>z_iacute.liga</string>
      <string>z_o.liga</string>
      <string>z_oacute.liga</string>
      <string>z_u.liga</string>
      <string>z_uacute.liga</string>
      <string>zacute_a.liga</string>
      <string>zacute_e.liga</string>
      <string>zacute_eacute.liga</string>
      <string>zacute_i.liga</string>
      <string>zacute_iacute.liga</string>
      <string>zacute_o.liga</string>
      <string>zacute_oacute.liga</string>
      <string>zacute_u.liga</string>
      <string>zacute_uacute.liga</string>
      <string>thorn_a.liga</string>
      <string>thorn_e.liga</string>
      <string>thorn_eacute.liga</string>
      <string>thorn_i.liga</string>
      <string>thorn_iacute.liga</string>
      <string>thorn_o.liga</string>
      <string>thorn_oacute.liga</string>
      <string>thorn_u.liga</string>
      <string>thorn_uacute.liga</string>
    </array>
  </dict>
</plist>
